
.title {
	font-family: sans-serif;
	font-size: 28;
	color: #0D81AA;
}

.dropdown {
	font-family: sans-serif;
	font-size: 12;
}	

.button {
   border-top: 1px solid #0D81AA;
   background: #0D81AA;
/*    background: -webkit-gradient(linear, left top, left bottom, from(#005FA3), to(#005FA3));	
   background: -webkit-linear-gradient(top, #005FA3, #005FA3);
   background: -moz-linear-gradient(top, #005FA3, #005FA3);
   background: -ms-linear-gradient(top, #005FA3, #005FA3);
   background: -o-linear-gradient(top, #005FA3, #005FA3); */
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
/*    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0; */
   color: white;
   font-size: 16px;
   font-weight: bold;
   font-family: Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
   
.button:hover {
   border-top-color: #076789;
   background: #076789;
   color: #ccc;
   }

#container {
	width:960px;
	padding-bottom: 15px;
}  
.button2{
   display: block;
   border-top: 1px solid #0D81AA;
   background: #0D81AA;
   padding: 5px 10px;
   border-radius: 8px;
   color: white;
   font-size: 16px;
   font-weight: bold;
   font-family: Sans-Serif;
   text-decoration: none;
   float: left;
   display: inline;
   margin-right: 8px;
   padding-top: 4px;
   text-align:center;
   }
   
   
.button2:hover {
   border-top-color: #076789;
   background: #076789;
   color: #ccc;
   }   

   
#login_title {
	font-family: sans-serif;
	font-size: 34;
	color: #0D81AA; 
}
   
#login_form {
	font-family: "TW Cen MT",sans-serif;
	font-size: 18;
	color: #D54E2B;
} 

.feedback {
	font-family: sans-serif;
	font-size: 14;
	color: #52A257; 
	float: inherit;
 	padding-top: 20px;
	padding-left: 5px; 
} 

#world {
	float: left; 
}

#all_the_stuff {
	padding-top: 15px;
	padding-left: 5px;
}

#selections {
 	padding-top: 10px; 
}

.ms-drop ul > li label #no_geo {
	color: red !important;
}

#from {
	font-family: "TW Cen MT",sans-serif;
	font-size: 22;
	font-weight: bold;
	color: #CC2C00;
}

#submit_button {
	padding-top: 30px;
}


@font-face {
/*  font-family: agentOrange;
    src: url(agentorange.ttf); */
	font-family: TNTexplosion;
	src: url(TNTexplosion.ttf);
}

