
.title {
	font-family: sans-serif;
	font-size: 28;
	color: #005288;
}

.info {
	font-family: sans-serif;
	font-size: 14;
	color: #54BCEB;
}

.dropdown {
	font-family: sans-serif;
	font-size: 12;
}

.al {
  display: flex;
  align-items: left;
  flex-wrap: wrap;
  flex-flow: column;
  padding-bottom:5px;
}	

.download {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  flex-flow: row;	
  padding-bottom:5px;
}


.box {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  height: 200px;
  margin-right: 5px;
  margin-bottom: 1em;
  padding: 15px 15px 15px 15px;
}

.upload {
  display: flex;
  align-items: left;
  flex-wrap: wrap; 
  flex-flow: row;
  padding-bottom:5px;
}

.box2 {
  background: #eaeaea;
  display: flex;
  flex-flow: column wrap;
  padding: 15px 15px 15px 15px;
}

.button {
   background: #0D81AA;
   border-radius: 8px;
   width: 150px;
   height: 25px;
   color: white;
   font-size: 16px;
   font-weight: bold;
   font-family: Sans-Serif;
   text-decoration: none;
   }
   
.button:hover {
   border-top-color: #076789;
   background: #076789;
   color: #ccc;
   }

#container {
	width:960px;
	padding-bottom: 15px;
}  
/* .button2{
   display: block;
   border-top: 1px solid #0D81AA;
   background: #0D81AA;
   padding: 5px 10px;
   border-radius: 8px;
   color: white;
   font-size: 16px;
   font-weight: bold;
   font-family: Sans-Serif;
   text-decoration: none;
   float: left;
   display: inline;
   margin-right: 8px;
   padding-top: 4px;
   text-align:center;
   } */
   
   
/* .button2:hover {
   border-top-color: #076789;
   background: #076789;
   color: #ccc;
   }  */  

   
#login_title {
	font-family: sans-serif;
	font-size: 34;
	color: #0D81AA; 
}
   
#login_form {
	font-family: "TW Cen MT",sans-serif;
	font-size: 18;
	color: #D54E2B;
} 

.feedback {
	font-family: sans-serif;
	font-size: 14;
	color: #52A257; 
	float: inherit;
 	padding-top: 20px;
	padding-left: 5px; 
} 

#world {
	float: left; 
}

#all_the_stuff {
	padding-top: 15px;
	padding-left: 5px;
}

#selections {
 	padding-top: 10px; 
}

.ms-drop ul > li label #no_geo {
	color: red !important;
}

#from {
	font-family: "TW Cen MT",sans-serif;
	font-size: 22;
	font-weight: bold;
	color: #CC2C00;
}

#submit_button {
	padding-top: 30px;
}


@font-face {
/*  font-family: agentOrange;
    src: url(agentorange.ttf); */
	font-family: TNTexplosion;
	src: url(TNTexplosion.ttf);
}

